<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Medical Reimbursement System{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header class="navbar">
    <div class="container">

        <h2>Medical Reimbursement System</h2>

        <nav>
            <a href="{{ url_for('main.index') }}">Home</a>
        </nav>

    </div>
</header>

<main class="container">

    {% block content %}
    {% endblock %}

</main>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>